# Convert ePRTR data to CLRTAP LPS submission
Germany's thru.de website offers the German ePRTR dataset as a SQLITE database. In this script, I convert the data given to the LRTAP convention's Excel template format. On the way, some information is augmented from other sources, in particular stack heights and GNFR.

Let's start and connect to the database as downloaded from https://www.thru.de/thrude/downloads/

In [ ]:
import sqlite3 as sql
import pandas as pd
import codecs

In [ ]:
connection = sql.connect('../source/prtr_en.db')

The database contains a couple of tables, but we are mainly interested in `facilities`, `activities` and `releases`. The `facilities` table already has the list of point sources we need and offers some properties right away. We can simply grap the names and coordinates, for example. As we only need the most current data, we will also filter on the `year` column.

Next, we need to match the point source's category (`prtr_id`) and the emissions from the `activities` and `releases` tables respectivly.

The query to achieve these two steps looks something like this:
```
SELECT name, prtr_key, wgs84_x, wgs84_y, releases.year, substance_name, annual_load, [...]
FROM facilities
INNER JOIN activities ON facilities.id = activities.facility_id
INNER JOIN releases ON facilities.id = releases.facility_id
WHERE releases.year = <year>)
```

This query will deliver a list of point sources and their releases, but there is still one row per pollutant. To get closer to our CLRTAP template, we need to transpose these emissions to columns and groups them by point source.

```
SELECT
	name,
	prtr_key AS 'GNFR (TODO)',
	administrative_number AS 'E-PRTR ID',
	'' AS 'Height class (TODO)',
	wgs84_x, wgs84_y,
	SUM(annual_load) FILTER (WHERE substance_name like 'Arsen%') AS "Arsen (kg)",
	SUM(annual_load / 1000000) FILTER (WHERE substance_name like 'Carbon dioxide%') AS "CO2 (kt)",
	SUM(annual_load / 1000) FILTER (WHERE substance_name like 'Sulphur%') AS "SO2 (t)"
FROM ( <inner query> )
GROUP BY id
ORDER BY name
```

Let's go an try this...

In [ ]:
sql_string = open('../sql/all lps one year.sql', mode='r', encoding='utf-8-sig').read()
data = pd.read_sql_query(sql_string, connection)

print(data.head())

In [ ]:
connection.close()